#successModal.modal.fade(tabindex='-1' aria-labelledby='successModal' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#noteModalLabel.modal-title Thông báo
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                p Thành công
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng