#sidebar-wrapper.bg-light.border-right
    .sidebar-heading LOGO Trang quản trị
    .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-light(href='/admin') Tổng quan
        a.list-group-item.list-group-item-action.bg-light(href='/admin/user') Người dùng
        a.list-group-item.list-group-item-action.bg-light(href='/admin/food') Sản phẩm
        a.list-group-item.list-group-item-action.bg-light(href='/admin/order') Đơn hàng
        a.list-group-item.list-group-item-action.bg-light(href='/admin/blog') Blog
        //a.list-group-item.list-group-item-action.bg-light(href='#') Cấu hình
        button#log-out-btn.list-group-item.list-group-item-action.bg-light Đăng xuất
