extends ../layout

block banner
    .parallax#cart-banner
        div.container-fluid.head-banner
            h2 Cá nhân
            p

block content
    style.
        .vl {
            border-left: 6px solid green;
            height: 500px;
        }
    .container.pt-4
        include profile_content

block script
    script(src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    //data table css
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css')
    script.
        $(document).ready(() => {
            $("#log-out-btn").click((e) => {
                fetch('/log-out', {
                    method: "GET"
                }).then(() => {
                    window.location.reload()
                })
            })

        })
        $(document).ready(function () {
            $('#history-list').DataTable();
        });
