.container-fluid
    .row
        .card.mt-3.tab-card(style="width:100%")
            .card-header.tab-card-header
                ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                        a#one-tab.nav-link(data-toggle='tab' href='#one' role='tab' aria-controls='One' aria-selected='true') Thông tin cá nhân
                    li.nav-item
                        a#two-tab.nav-link(data-toggle='tab' href='#two' role='tab' aria-controls='Two' aria-selected='false') Địa chỉ
                    li.nav-item
                        a#three-tab.nav-link(data-toggle='tab' href='#three' role='tab' aria-controls='Three' aria-selected='false') Phản hồi
            #myTabContent.tab-content
                #one.tab-pane.fade.show.active.p-3(role='tabpanel' aria-labelledby='one-tab')
                    .row
                        .col-6
                            label(for='full_name').w-100 Họ và tên:
                            input#full_name.form-control(type='text' name='full_name' required value=(undefined === userInfo ? '' : userInfo.displayName))
                            label(for='email').w-100 Email:
                            input#email.form-control(type='text' name='email' required value=(undefined === userInfo ? '' : userInfo.email))
                        .col-6
                            label(for='phone').w-100 Số điện thoại:
                            input#phone.form-control(type='phone' name='phone' required value=(undefined === userInfo ? '' : userInfo.phoneNumber))
                            //label(for='email').w-100 Email:
                            //input#email.form-control(type='text' name='email' required)
                #two.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='two-tab')

                #three.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='three-tab')
                    //ul
                    //    li Gà
                    //    li Gạo
                    //    li Hành tây
            .card-footer
                button#log-out-btn.btn.btn-primary Đăng xuất
    .container.pt-4
        h3.py-3 Lịch sử
        table#history-list.table
            thead
                th STT
                th Tổng giá (VND)
                th Thời gian đặt
                th Trạng thái
            tbody
                for order,index in history
                    tr
                        td=index + 1
                        td=formatBill(order.total_bill)
                        td=order.time_created.toLocaleString("vi-Vi", {timeZone: "Asia/Ho_Chi_Minh"})
                        td=order.status
