extends layout

block content
    link(rel='stylesheet', href='/stylesheets/carousel.css')
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel' data-slide-to='0')
            li(data-target='#myCarousel' data-slide-to='1')
            li(data-target='#myCarousel' data-slide-to='2')
        .carousel-inner
            .carousel-item.active
                img.first-slide(src='https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt='First slide')
                .container
                    .carousel-caption.text-left
                        h1 Example headline.
                        p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            | elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            | ultricies vehicula ut id elit.
                        p
                            a.btn.btn-lg.btn-primary(href='#' role='button')
                                | Sign up
                                | today
            .carousel-item
                img.second-slide(src='https://images.unsplash.com/photo-1606851686066-c7f17f1ece96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80' alt='Second slide')
                .container
                    .carousel-caption
                        h1 Another example headline.
                        p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            | elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            | ultricies vehicula ut id elit.
                        p
                            a.btn.btn-lg.btn-primary(href='#' role='button') Learn more
            .carousel-item
                img.third-slide(src='https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt='Third slide')
                .container
                    .carousel-caption.text-right
                        h1 One more for good measure.
                        p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                            | elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                            | ultricies vehicula ut id elit.
                        p
                            a.btn.btn-lg.btn-primary(href='#' role='button')
                                | Browse
                                | gallery
        a.carousel-control-prev(href='#myCarousel' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#myCarousel' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
        // START THE FEATURETTES
        hr.featurette-divider
        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | First featurette heading.
                    span.text-muted It'll blow your mind.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                    | ligula porta felis euismod semper. Praesent commodo cursus magna, vel
                    | scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5
                img.featurette-image.img-fluid.mx-auto(data-src='' src='https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&h=500' alt='Generic placeholder image')
        hr.featurette-divider
        .row.featurette
            .col-md-7.order-md-2
                h2.featurette-heading
                    | Oh yeah, it's that good.
                    span.text-muted See for yourself.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                    | ligula porta felis euismod semper. Praesent commodo cursus magna, vel
                    | scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5.order-md-1
                img.featurette-image.img-fluid.mx-auto(data-src='' src='https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&h=500' alt='Generic placeholder image')
        hr.featurette-divider
        .row.featurette
            .col-md-7
                h2.featurette-heading
                    | And lastly, this one.
                    span.text-muted Checkmate.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                    | ligula porta felis euismod semper. Praesent commodo cursus magna, vel
                    | scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            .col-md-5
                img.featurette-image.img-fluid.mx-auto(data-src='holder.js/500x500/auto' src='https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&h=500' alt='Generic placeholder image')
        hr.featurette-divider
        // Feed back
        .col
            .row.justify-content-between(style='padding-bottom: 32px')
                h2.title.col-sm-12.col-md-6 Phản hồi từ khách hàng
                // <p class="col-sm-12 col-md-6 ml-lg-auto title-btn" style=""><a class="btn btn-lg btn-primary" href="#" role="button">Xem thêm</a></p>
            .row
                .col-lg-4
                    img.rounded-circle(src='https://images.unsplash.com/photo-1493770348161-369560ae357d?&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt='Generic placeholder image' width='180' height='180')
                    h2 Heading
                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id
                        | dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac
                        | consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                    // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    // /.col-lg-4
                .col-lg-4
                    img.rounded-circle(src='https://images.unsplash.com/photo-1493770348161-369560ae357d?&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt='Generic placeholder image' width='180' height='180')
                    h2 Heading
                    p
                        | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
                        | odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce
                        | dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                    // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    // /.col-lg-4
                .col-lg-4
                    img.rounded-circle(src='https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80' alt='Generic placeholder image' width='180' height='180')
                    h2 Heading
                    p
                        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget
                        | quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus
                        | ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                        | sit amet
                        | risus.
                    // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    // /.col-lg-4
                    // /.row
        hr.featurette-divider
        // /END THE FEATURETTES
    // /.container
    // FOOTER

