doctype html
html
    head
        title= title

        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link( type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
        link(rel='stylesheet', href='/stylesheets/base.css' type='text/css')

    body#page-top
        - function formatBill(bill){return new Intl.NumberFormat('vi-VI', { maximumSignificantDigits: 3 }).format(bill)}
        include partials/header
        main
            block content
        include partials/footer

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        script(src='/js/util.js')
        block script
        script.
            (function ($) {
                "use strict"; // Start of use strict

                // Smooth scrolling using jQuery easing
                $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
                    if (
                        location.pathname.replace(/^\//, "") ==
                        this.pathname.replace(/^\//, "") &&
                        location.hostname == this.hostname
                    ) {
                        var target = $(this.hash);
                        target = target.length
                            ? target
                            : $("[name=" + this.hash.slice(1) + "]");
                        if (target.length) {
                            $("html, body").animate(
                                {
                                    scrollTop: target.offset().top - 70,
                                },
                                1000,
                                "easeInOutExpo"
                            );
                            return false;
                        }
                    }
                });

                // Closes responsive menu when a scroll trigger link is clicked
                $(".js-scroll-trigger").click(function () {
                    $(".navbar-collapse").collapse("hide");
                });

                // Activate scrollspy to add active class to navbar items on scroll
                $("body").scrollspy({
                    target: "#mainNav",
                    offset: 100,
                });

                // Collapse Navbar
                var navbarCollapse = function () {
                    if ($("#mainNav").offset().top > 100) {
                        $("#mainNav").addClass("bg-dark");
                    } else {
                        if ($("#mainNav").width() > 990)
                            $("#mainNav").removeClass("bg-dark");
                        else
                            $("#mainNav").addClass("bg-dark");

                    }
                };

                // Collapse now if page is not at top
                navbarCollapse();
                // Collapse the navbar when page is scrolled
                $(window).scroll(navbarCollapse);
                $(window).resize(() => {
                    if ($("#mainNav").width() < 990) {
                        $("#mainNav").addClass("bg-dark");
                    } else {
                        $("#mainNav").removeClass("bg-dark");
                    }
                })
            })(jQuery); // End of use strict
