extends admin_base


block content
    .row.mb-4.mt-4
        h2.col-2 Blogs
        a(href="blog/create")#menu-toggle.btn.btn-primary.col-2 Tạo blog mới


    for blog,index in blogs
        .card.m-4
            h5.card-header= blog.title
            .card-body
                p.card-text= blog.summary
                a.btn.btn-primary(href=`/admin/blog/${blog.id}`) Chỉnh sửa



    p(style="color:red")= error