extends admin_base

block content
    h2.mb-4.mt-4 #{title}

    form#form_food_create(method='POST' action='')
        div.form-group
            //label(for='image') Ảnh:
            //input#image.form-control(type='file' name='image' alt="Submit" width="48" height="48")
            label(for='image') Ảnh:
            input#image.form-control(type='text' name='image' alt="Submit" placeholder="Link hình ảnh. VD: image.com" value=(undefined === food ? '' : food.image_url))

            label(for='title') Tiêu đề:
            input#title.form-control(type='text', placeholder='Cơm gà' name='title' value=(undefined === food ? '' : food.title))

            label(for='price') Giá sản phẩm:
            input#price.form-control(type='number', placeholder='VD: 10000' name='price' value=(undefined === food ? '' : food.price))

            label(for='description') Mô tả:
            textarea#description.form-control(placeholder='Nội dung...' name='description', rows=10)=   (undefined === food ? '' : food.description)

        button.btn.btn-primary(type='submit') Tạo

    if errors
        ul(style="color:red")
            for error in errors
                li!= error.msg


block script
    script.
        $("#image").change(function (e) {

            // const file = e.target.files[0];
            // console.log(typeof file);
            // console.log('The file "' + file + '" has been selected.');
            // // Create a root reference
            // // Create a root reference
            // storage.ref().put(e.target.files[0]).then((snapshot) => {
            //     // Upload completed successfully, now we can get the download URL
            //     snapshot.ref().getDownloadURL().then(function (downloadURL) {
            //         console.log('File available at', downloadURL);
            //     });
            // })

        })


