#noteModal.modal.fade(tabindex='-1' aria-labelledby='noteModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#noteModalLabel.modal-title Ghi chú
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                form
                    .form-group
                        label.col-form-label(for='note-text') Ghi chú của bạn:
                        textarea#note-text.form-control(placeholder="VD: Ít ớt")
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
                button.btn.btn-primary(type='submit' data-dismiss='modal') Xác nhận

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
